:root {
  --dark: #1B2024;
  --light: #FEFEFE;

  --primary: rgb(198, 98, 39);
  --secondary: rgb(90, 126, 134);

  --ground: rgb(236, 207, 190);
  --storm: rgb(90, 126, 134);

  --mask: rgba(0, 0, 0, .3);
  --screen: rgba(90, 126, 134, .5);

  --drop-primary: rgba(198, 98, 39, .75);
  --drop-secondary: rgba(90, 126, 134, .75);
}
